* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    text-align: left;
}

.blog-content {
    margin-left: 50px;
}

.article-content {
    margin-left: 50px;
}

nav {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: aliceblue;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.blog-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 400px;
    background-color: #f4831f;
    color: whitesmoke;
    margin: auto;
    border-radius: 30px;
}

.blog-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f4831f;
    font-size: 3rem;
}

.logo {
    width: 50px;
    height: 100%;
    margin-top: 5px;
    margin-left: 32vw;
}

.shop-img {
    display: flex;
    align-items: center;
    margin-left: 120px;
    width: 200px;
    height: 100%;
    text-align: center;
}

.shop-items {
    width: 40%;
    text-align: center;
    color: blueviolet;
}

.shop-items>h3 {
    margin-bottom: 30px;
}

.loader {
    display: block;
    width: 100px;
    height: 100px;
    border: 16px solid white;
    border-top: 16px solid #BADA55;
    border-radius: 50%;
}

.spin {
    animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-off {
    display: none;
}